<%= link_to 'Show Calories Consumed', calories_consumeds_path %> <br>
<%= link_to 'Show Exercises Performed', exercises_performeds_path %> <br>
<%= link_to 'Show Steps Taken', steps_takens_path %> <br>
<%= link_to 'Show Weights', weights_path %> <br>

<br>

<p>
  <strong>Net number of calories for the day: </strong>
  <%= @statistics[:day_net_calories] %>
</p>
