<%= link_to 'List Of Calories Consumed', calories_consumeds_path %> <br>
<%= link_to 'List Of Exercises Performed', exercises_performeds_path %> <br>
<%= link_to 'List Of Steps Taken', steps_takens_path %> <br>
<%= link_to 'List Of Weights Entered', weights_path %> <br>

<br>

<p>
  <strong>Net number of calories for the day: </strong>
  <%= @statistics[:day_net_calories] %>
</p>

<p>
  <strong>Miles walked today: </strong>
  <%= @statistics[:day_miles_walked].round(2) %>
</p>

<p>
  <strong>Weight loss/gain: </strong>
  <%= @statistics[:day_weight] %>
</p>
