<p id="notice"><%= notice %></p>

<p>
  <strong>Calories consumed:</strong>
  <%= @calories_consumed.calories_consumed %>
</p>

<p>
  <strong>Date consumed:</strong>
  <%= @calories_consumed.date_consumed %>
</p>

<%= link_to 'Edit', edit_calories_consumed_path(@calories_consumed) %> |
<%= link_to 'Back', calories_consumeds_path %>
