<p id="notice"><%= notice %></p>

<p>
  <strong>Steps taken:</strong>
  <%= @steps_taken.steps_taken %>
</p>

<p>
  <strong>Date walked:</strong>
  <%= @steps_taken.date_walked %>
</p>

<%= link_to 'Edit', edit_steps_taken_path(@steps_taken) %> |
<%= link_to 'Back', steps_takens_path %>
